{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Dcs{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://github.com/mgalante/jquery.redirect/blob/master/jquery.redirect.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="{% url 'home' %}">django checkin system</a>
            </div>
        </div>
    </nav>
    {% block body %}


    {% endblock %}
  </body>
{% block script %}


{% endblock %}
</html>