{% extends 'base.html' %}


{% block body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Django check-in system</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'home' %}">view reviews</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>

    </ul>

  </div>
</nav>
<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">checkins</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Place</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>review</th>
          </tr>
        </thead>
        <tbody>
          {% for checkin in checkins %}
            <tr>
              <td>
                {{ checkin.place_name }}
              </td>
              <td class="align-middle">
				  {{ checkin.latitude }}
			  </td>
              <td class="align-middle">
				  {{ checkin.longitude }}
			  </td>
              <td class="align-middle">
				  {{ checkin.review }}
			  </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}